.about-us-information {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding-left: 30px;
	padding-right: 30px;
    background-color: rgba(240, 240, 240, 1);
}
.about-us-text {
    max-width: 40%;
    gap:10px;
	min-height: 616px;
	display: flex;
    align-items:flex-start;
	flex-direction: column;
}
.about-us-text > h2 {
	color: #000;
	text-align:left;
	font-family: Montserrat;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 36.9%; 
	font-variant: all-small-caps;
	letter-spacing: 8.16px;
}
.about-us-text > p {
	color: #006a70;
	font-family: Montserrat;
	font-size: 20px;
    text-align:left;
	font-style: normal;
	font-weight: 400;
	line-height: 130.9%; 
	letter-spacing: 0.1px;
	text-transform: lowercase;
}
.about-us-text .our-goals  {
	color: #000;
    text-align: left;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 130.9%; 
	letter-spacing: 0.1px;
	text-transform: lowercase;
}
.slogan > img {
	max-width: 727px;
	max-height: 616px;
}
.learn-more-button {
	background-color: #006a70;
	width: 100%;
	padding: 15px 0;
	color: #fff;
	font-size: 1em; 
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 36px;
	max-width: 215px;
}
