*{
    font-style: normal;
    line-height: normal;
}

.welcome-container{
    display:flex;
    flex-direction: column;
    background-color: black;
    background-image: url("../asserts/img/Background\ image.svg");
    background-repeat: no-repeat;
    background-size:cover;
    width: auto;
    height: 1000px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 60px;
}
.welcome-container > p:first-child{
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
}

h1{
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
}
h1>span{
    color: #006A70;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
}

.welcome-container .description{
    color: #FFF;
    max-width: 1040px;
    font-size: 24px;
    font-weight: 700;
    text-transform: lowercase;
    margin-bottom: 50px;
    margin-top: 100px;
}
.gym-information{
    display: flex;
    justify-content:center; 
    align-items: center;
    gap:54px;
}

.gym-information > div {
  display: flex;
  align-items: center;  
  flex-direction: column;
  gap:12px;
}
.gym-information > div > h3 {
    color: #006A70;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
}
.gym-information > div > p {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    text-transform:lowercase;
}

.create-line {
    height: 123px;
    width: 2px;
    background-color: #D9D9D9;
}

.become-member-btn{
    display: block;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1.08px;
    text-transform: uppercase;
    border-radius: 36px; 
    padding: 11px 20px;
    background-color: #006A70;
    text-decoration: none;
    margin-top:50px;
}   